<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>manufacturer</key>
			<string>AuKt</string>
			<key>name</key>
			<string>AudioKit Synth One</string>
			<key>subtype</key>
			<string>syn1</string>
			<key>type</key>
			<string>auri</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Synth One</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>icon_320</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AudioKit Synth1 Preset</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.audiokitpro.AudioKitSynthOne.synth1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>icon_320.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AudioKit Synth1 Scala File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.audiokitpro.AudioKitSynthOne.scl</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.6</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.audiokitpro.AudioKitSynthOne</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Synth1-1.0.audiobus</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.audiokitpro.AudioKitSynthOne</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>synth1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.6</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>digitald1</string>
		<string>wilsonic</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) camera use.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AudioKit Synth Presest</string>
			<key>UTTypeIdentifier</key>
			<string>com.audiokitpro.SynthUISpike.synth1</string>
			<key>UTTypeSize320IconFile</key>
			<string>icon_320</string>
			<key>UTTypeSize64IconFile</key>
			<string>icon_64</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>synth1</string>
				</array>
				<key>public.mime-type</key>
				<string>application/SynthOne</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AudioKit Scala File</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>icon_320.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.audiokitpro.AudioKitSynthOne.scl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>scl</string>
				<key>public.mime-type</key>
				<string>application/SynthOne</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
